# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

__Objectives__
* Popular Languages for Data Scientits
* Commonly used libraries
* Data Science tools
* Exmaples of arithmatic expressions

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL
4. Java
5. Julia
6. Scala
7. C/C++
8. JavaScript

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. Matplotlib
3. NumPy
4. TensorFLow
5. Scikit-learn
6. SciPy
7. PyTorch
8. Keras
9. Seaborn

|Data Sceince Tools|
|---|
|RStudio|
|Apache Spark| 
|TensorFlow|

### Below are a few examples of evaluating arithmetic expressions in Python.

In [5]:
# This a simple arithmetic expression to mutiply then add integers.
(3*4)+5.

17.0

In [6]:
# This will convert 200 minutes to hours by diving by 60.
200/60

3.3333333333333335

## Author
Lorena Cruz